tensorflow-hub
pyyaml
h5py

matplotlib
pydot
graphviz
tqdm
colorlog

py-cpuinfo
psutil
gputil
XlsxWriter

opencv-python
scikit-image
scikit-learn
pillow
seaborn

joblib

git+https://github.com/LdwgWffnschmdt/efficientnet.git